name: Deploy Spring Boot (Build on VPS)

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e
            cd ~/projects/auth_n_authz
            git fetch origin
            git reset --hard origin/master
            docker compose build
            JWT_SEC="$JWT_SEC" docker compose up -d
            docker image prune -f
